/.vscode
__pycache__/
*/__pycache__
*/*/__pycache__
*/utils/test_output/*.xdf
_archive

/participants/*
/output/*
./exp_module/experiments/*/config.yaml

./resources/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
*.code-workspace
*.log
*.ipynb

manuscript/*
debug.py
tmp/

run_controller.py

exp_module/experiments/*
!exp_module/experiments/grasping
!exp_module/experiments/graspingWeb
!exp_module/experiments/Bubbles